@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force hide spin buttons (arrows) for all number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
